<div class="u-pv-sm u-ph-md g-bg-{{color}}-6 u-mb-sm g-white">
  <h4 class="u-mv-sm g-font-bolder">{{title}}</h4>
{{!--   <span class="u-mv-sm u-block">{{color}}-6</span> --}}
</div>
<div class="u-pv-sm u-ph-md g-bg-{{color}}-0"><span>{{color}}-0</span></div>
<div class="u-pv-sm u-ph-md g-bg-{{color}}-1"><span>{{color}}-1</span></div>
<div class="u-pv-sm u-ph-md g-bg-{{color}}-2"><span>{{color}}-2</span></div>
<div class="u-pv-sm u-ph-md g-bg-{{color}}-3"><span>{{color}}-3</span></div>
<div class="u-pv-sm u-ph-md g-bg-{{color}}-4"><span>{{color}}-4</span></div>
<div class="u-pv-sm u-ph-md g-bg-{{color}}-5"><span class="g-white">{{color}}-5</span></div>
<div class="u-pv-sm u-ph-md g-bg-{{color}}-6"><span class="g-white">{{color}}-6</span></div>
<div class="u-pv-sm u-ph-md g-bg-{{color}}-7"><span class="g-white">{{color}}-7</span></div>
<div class="u-pv-sm u-ph-md g-bg-{{color}}-8"><span class="g-white">{{color}}-8</span></div>
<div class="u-pv-sm u-ph-md g-bg-{{color}}-9"><span class="g-white">{{color}}-9</span></div>
<div class="u-pv-sm u-ph-md g-bg-{{color}}-10"><span class="g-white">{{color}}-10</span></div>
