<h2>Color</h2>

<p class="u-mb-lg">This color pallette is made specifically for interfaces in Ticketfly applications. These colors were hand picked to be paired with each other. The #6 tones for each color are the primary colors and the other tints and shades of that color are accent colors.</p>

{{color-bars color="gray"}}
{{color-bars color="indigo"}}
{{color-bars color="red"}}
{{color-bars color="green"}}
{{color-bars color="yellow"}}
{{color-bars color="blue"}}
{{color-bars color="violet"}}
<div class="u-width-30 u-inline-block u-mr-sm u-mt-sm u-valign-top">
  <div class="u-p-md g-bg-black g-white g-font-bolder">Black</div>
  <div class="u-p-md g-bg-white g-black g-font-bolder g-border-solid g-bd-gray-1 g-border-1 g-border-none-top">White</div>
</div>
