<section class="u-mh-md">
  <h1 class="g-gray-9">Available CSS</h1>

  <p class="g-gray-9">Here is a concat of all the CSS available to <a class="g-no-line g-hover-indigo-5 g-gray-7" target="_blank" href="https://github.com/Ticketfly-UI/ticketfly-css">ticketfly-css</a> to make it easier to find classnames for development. This should be updated to an actual, organized reference eventually.</p>

  <ul>
    {{#each model as |module|}}
      <li class="g-gray-7"><a class="g-gray-7 g-no-line g-hover-indigo-5" href="#{{module.name}}">{{module.name}}</a></li>
    {{/each}}
  </ul>

  {{#each model as |module|}}
    <h2 class="g-gray-9" id={{module.name}}>{{module.name}}</h2>
    <pre class="g-border-radius-1 u-line-height-3 g-bg-gray-0 u-p-md"><code>{{highlight module.body}}</code></pre>
  {{/each}}

  {{tf-button class="u-bottom-1 u-right-1 g-cursor-pointer u-fixed" text="Scroll Top" click=(route-action "scrollTop")}}
</section>
