<header class="u-pv-sm g-box-shadow-0 u-relative">
  <div class="u-inline-block u-valign-middle">
    {{flying-t class="g-bg-indigo-5 u-ml-md"}}
  </div>
  <h1 class="u-m-xs u-inline-block u-valign-middle">LIBRARY</h1>
</header>

<section class="o-grid u-full-bleed">
  <nav class="u-p-md g-bg-gray-0 o-grid-cell o-grid-cell-2">
    <ul class="u-m-0 g-list-reset">
      <li class="u-mv-md">{{link-to "Color" "demo.color" class="g-gray-7 g-font-bolder g-no-line g-hover-indigo-5"}}</li>
      <li class="u-mv-md">{{link-to "Typography" "demo.typography" class="g-gray-7 g-font-bolder g-no-line g-hover-indigo-5"}}</li>
      <li class="u-mv-md">{{link-to "Grid" "demo.grid" class="g-gray-7 g-font-bolder g-no-line g-hover-indigo-5"}}</li>
      <li class="u-mv-md g-gray-7 g-font-bolder g-hover-indigo-5 g-cursor-pointer">Components</li>
      <li class="u-mv-md">{{link-to "Resources" "demo.resources" class="g-gray-7 g-font-bolder g-no-line g-hover-indigo-5"}}</li>
    </ul>
  </nav>

  <div>
    {{outlet}}
  </div>
</section>
