<header class="u-pv-sm g-box-shadow-0">
  <div class="u-inline-block u-valign-middle">
    {{flying-t class="g-bg-indigo-5 u-ml-md"}}
  </div>
  <h1 class="u-m-xs u-inline-block u-valign-middle">LIBRARY</h1>
</header>

<nav class="u-p-md">
  <ul class="u-m-0 g-list-reset">
    <li>{{link-to "Color" "demo.color" class="g-gray-7 g-font-bolder g-no-line g-hover-indigo-5"}}</li>
    <li>{{link-to "Typography" "demo.typography" class="g-gray-7 g-font-bolder g-no-line g-hover-indigo-5"}}</li>
    <li>{{link-to "Grid" "demo.grid" class="g-gray-7 g-font-bolder g-no-line g-hover-indigo-5"}}</li>
    <li class="g-gray-7 g-font-bolder g-hover-indigo-5 g-cursor-pointer">Components</li>
    <li>{{link-to "Resources" "demo.resources" class="g-gray-7 g-font-bolder g-no-line g-hover-indigo-5"}}</li>
  </ul>
</nav>

{{outlet}}
